html,body{
  text-align: center;
}
.button {
  width: 100px;
  height: 100px;
}
#red {
  background-color: #fcab64;
}
#yellow {
  background-color: yellow;
}
#raj {
  background-color: #7fd8be;
}
#black {
  background-color: black;
}
.cantainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

} 